.list-container {
    width: 100%;
    .slide-image {
        width: 100%;
        height: 100%;
    }
    .scroll-container {
        padding-left: 40rpx;
        padding-right: 45rpx;
        .item {
            border-bottom: 1rpx solid #e8e8e8;
            .title {
                font-size: 30rpx;
                line-height: 1;
                margin: 22rpx 0;
                color: #505050;
            }
            .remark {
                padding: 20rpx 0;
                font-size: 22rpx;
                color: #8f8f8f;
            }
            &.temp1 {
                padding: 20rpx 0;
                display: flex;
                justify-content: space-between;
                image {
                    width: 210rpx;
                    height: 210rpx;
                }
                .content {
                    width: 430rpx;
                    .desc{
                        padding: 36rpx 0;
                        font-size: 28rpx;
                        color: #888;
                    }
                }
                .title{
                    padding: 12rpx 0;
                }
                .remark{
                    padding: 36rpx 6rpx;
                    font-size: 24rpx;
                    color: #8f8f8f;
                }
            }
            &.temp2 {
                .image{
                    display: flex;
                    justify-content: space-around;
                    image{
                        width: 210rpx;
                        height: 210rpx;
                    }
                }
            }
            &.temp3 {
                padding-bottom: 12rpx;
                image {
                    width: 100%;
                    height: 350rpx;
                }
            }
        }
    }
}